
*{
	padding: 0;
	margin: 0;
}
ul{
	margin-bottom: 0 !important;
}
.answered{
	background-color: #23c6c8 !important;
	color: #fff;
}
.none{
	display: none !important;
}
.overfw{
	overflow: hidden !important;
}
.learn{
	position: relative;
}
.logo{
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1;
	width: 200px;
}
.logo img{
	width: 100%;
	height: 100%;
}
input[type='checkbox']{
	margin-right: 5px !important;
}
body{
	font-family: "Open Sans", sans-serif !important;
	overflow-x: hidden;
}
.nav-tabs{
	width: 100%;
	display: flex;
	border: none !important;
}
.nav-tabs li{
	flex: 1;
	text-align: center;
	margin-bottom: 0 !important;
}
.nav-tabs li:hover a{
	background-color: #f2f6f9 !important;
}
.nav-tabs li.active a{
	color: #5b9bd1 !important;
	background-color: #f2f6f9 !important;
	position: relative;
}
.nav-tabs li.active a:before{
	position: absolute;
	content: "";
	width: 100%;
	border: #5C9ACF solid 3px !important;
	left: 0;
	top: 0;
}
.nav-tabs li a{
	display: flex !important;
	flex-direction: column;
	border: none !important;
	color: #678098;
	font-weight: 600;
}
.learn .row{
	height: 100% !important;
}
.row > div{
	padding: 0;
	margin: 0;
}
.tab-content ul li, .note-add{
	padding-left: 5px;
	list-style: none;
	font-size: 13px !important;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: #ddd solid 1px;
	cursor: pointer;
	position: relative;
}
.lessons .tab-content ul li i{
	margin-right: 5px;
}
.chapter{
	background-color: #ddd6;
	font-weight: 600;
	padding-left: 10px !important;
	display: flex;
}
.lesson-active{
	background-color: #ddd6;
	font-weight: 600;
}
.chapter i{
	margin-top: 3px;
}
.lessons .tab-content > div{
	position: relative;
	margin-bottom: 10px;
	height: 100%;
	border-top: #ddd solid 1px;
}
.tab-content ul li:last-child{
	border: none !important;
}
.lesson-content{
	display: flex;
	/*! height: 95%; */
	flex: 1;
}
.lesson-content iframe{
	height: 100% !important; 
}
.lesson-video, .lesson-text, .lesson-quicktest{
	flex: 1;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.lesson-text, .lesson-quicktest{
	text-align: justify;
	padding-top: 54px;
	background-color: lightblue;
	padding-bottom: 54px;
}
#file ul li{
	display: flex;
	padding-right: 10px;
}
#file ul li > div:first-child{
	flex: 1;
}
.note-add{
	display: flex;
	border-top: #ddd solid 1px;
}
.note-add i{
	margin-right: 10px;
	font-size: 20px;
}
.note-add textarea{
	flex: 1;
	height: 100%;
	border: none;
	outline: none;
}
#note ul li:last-child{
	padding-bottom: 25px !important;
	border-bottom: #ddd solid 1px !important;
}
#note ul li{
	padding-bottom: 25px !important;
	background-color: #ddd6;
}
.plyr{
	flex: 1;
	width: 100%;
}
.lesson-content:hover .lesson-info{
	transition: ease-in-out 0.5s;
	opacity: 1;
}
.plyr__controls{
	position: relative;
}
.note-date{
	position: absolute;
	bottom: 5px;
	color: #898989;
	right: 10px;
	font-style: italic;
}
.lesson-menu{
	display: flex;
	align-items: center;
	height: 35px;
	background-color: #ddd6;
}
.lesson-menu > div, .quicktest-process > div{
	flex: 1;
	font-size: 30px;
	text-align: center;
}
.lesson-menu i{
	cursor: pointer;
}
.lesson-menu > div:first-child, .quicktest-process > div:first-child{
	text-align: left;
	padding-left: 10px;
}
.lesson-menu > div:last-child{
	text-align: right;
	padding-right: 10px;
}
.box-lesson{
	display: flex;
	flex-direction: column !important;
}
.lesson-hide{
	position: absolute !important;
	animation: lessonlisthide 10s;
	animation-fill-mode: forwards;
}
.lesson-show{
	position: absolute !important;
	animation: lessonlistshow 0.3s;
	animation-fill-mode: forwards;
	/*! top: 0; */
	/*! display: block !important; */
	/*! width: 30%; */
	top: 0;
	/*! z-index: 999999; */
}
.lesson-list{
	background-color: #fff;
}
.lesson-toggle{
	position: relative;
	z-index: 1;
}
.plyr__video-embed{
	padding-bottom: 0% !important;
	height: 100% !important;
}
.quicktest-list{
	padding-bottom: 10px;
}
.quicktest-list .row{
	margin: 0 !important;
}
.quicktest-item{
	padding-bottom: 10px !important;
	padding-top: 10px !important;
	float: left;
}
.quicktest-item input{
	margin-right: 10px !important;
}
.quicktest-answer{
	padding-left: 30px;
	padding-top: 10px;
}
.quicktest-answer label{
	font-weight: inherit;
}
.quicktest-answer > div > div{
	margin-bottom: 10px;
}
.quicktest-answer > div > div:last-child{
	margin-bottom: 0 !important;
}
.quicktest-name, .quicktest-hint{
	background-color: #dbdbdb;
	padding: 10px;
	display: flex;
	margin-bottom: 0;
	border-radius: 5px;
}
.quicktest-hint{
	margin-top: 10px;
	background-color: #f8ac59;
	font-size: 13px;
	color: #fff;
}
.quicktest-name span:first-child{
	margin-right: 10px;
}
.lessson-box-quicktest{
	position: relative;
}
.lesson-quicktest > div, .lesson-text > div{
	background-color: #fff;
	border-radius: 5px;
	overflow: auto;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	z-index: 0;
}
.quicktest-list{
	overflow: hidden;
}
.quicktest-slide{
	width: 9999999px;
	transition: ease-out 0.1s;
}
.quicktest-process{
	border-top: #ddd solid 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
}
.quicktest-process > div{
	font-size: 14px;
}
.quicktest-process i{
	cursor: pointer;
	font-size: 16px;
	margin-right: 5px;
}
.quicktest-list-answer{
	border-bottom: #ddd solid 1px;
	max-height: 100px;
	padding-bottom: 10px;
	overflow: auto;
	padding-top: 10px;
}
.quicktest-list-answer ul{
	margin-bottom: 0;
	text-align: left;
}
.quicktest-list-answer li{
	list-style: none;
	display: inline-block;
	cursor: pointer;
	font-size: 13px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #dbdbdb;
	margin-bottom: 5px;
}
.quicktest-list-answer li.active{
	color: #fff;
	background-color:  #1c84c6 !important;
}
.quicktest-list-answer li.backview{
	color: #fff;
	background-color: #ed5565 !important;
}
.quicktest-list-answer li:last-child{
	border: none;
}
.btn-custom{
	color: #ffffff;
	width: 70px;
	text-align: center;
	height: 32%;
	border-radius: 5px;
	cursor: pointer;
	font-size: 13px;
	padding-top: 1%;
	padding-bottom: 1%;
}
.bg-submit{
	background-color: #23c6c8 !important;
}
.bg-move{
	background-color: #1c84c6 !important;
}
.bg-hint, .bg-back-view{
	background-color: #f8ac59 !important;
}
.bg-back-view{
	background-color: #ed5565 !important;
}
.quicktest-submit{
	display: flex;
	justify-content: flex-end;
}
.quicktest-submit > div{
	margin-left:  10px;
}
.count-result{
	font-size: 13px !important;
}
@keyframes lessonlisthide{
	from {
		right: 0;
	}
	to {
		right: -9999px;
		opacity: 0;
	}
}
@keyframes lessonlistshow{
	from {
		right: -9999px;
	}
	to {
		right: 0;
		opacity: 1;
	}
}
@media only screen and (min-width: 1025px){
	body{
		overflow-y: hidden;
	}
}
@media only screen and (max-width: 1024px){
	.lesson-list{
		top: 0;
		width: 30%;
	}
	.lesson-menu > div{
		font-size: 20px;
	}
	.lesson-quicktest, .lesson-text{
		padding-top: 0;
		padding-bottom: 0;
	}
	.lesson-text > div{
		margin-top: 2%;
		margin-bottom: 2%;
		padding-top: 1%;
		padding-bottom: 1%;
	}
}
@media only screen and (max-width: 800px){
	.lesson-list{
		top: 10px;
		width: 100%;
	}
	.quicktest-list-answer{
		padding-left: 3% !important;
	}
	.quicktest-submit{
		padding-right: 1.5%;
	}
}
@media only screen and (max-width: 480px){
	.lesson-quicktest, .lesson-text{
		padding: 0 !important;
		margin-right: -5px !important;
	}
	.count-result, .bg-move{
		display: none;
	}
	.quicktest-submit{
		justify-content: center;
	}
	.lesson-quicktest > div, .lesson-text > div{
		margin-left: 10px;
	}
}
#lesson ul li{
	display: flex;
	padding-right: 15px;
	align-items: center;
}
#lesson ul li:hover .check-pass{
	display: block !important;
}
#lesson ul li > div:first-child{
	flex: 1;
}
.check-pass{
	align-items: flex-start;
	display: none !important;
}
.pass-success{
	color: #23c6c8;
}
.load{
	animation: load 2s;
	animation-iteration-count: infinite;
}
@keyframes load {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}
.delete-note{
	color: #ed5565;
	font-size: 14px !important;
	margin-left: 10px;
	cursor: pointer;
	display: none !important;
}
.note-list ul li:hover .delete-note{
	display: inline-block !important;
}