*{
  padding: 0;
  margin: 0;
}
label,p,h3,span{
  font-family:Arial; 
}
body{
  font-size: 13px !important;
  font-family: Arial !important;
}
.fs12{
  font-size: 12px !important;
}
.fs14{
  font-size: 14px;
}
.fs20{
  font-size: 20px;
}
.fs30{
  font-size: 30px;
}
.header{
  height: 50px;
}
.logo{
  float: left;
  height: 50px;
  line-height: 45px;
}
.menu{
  float: left;
  margin-top: 15px;
  margin-left: 20px;
  cursor: default;
  position: relative;
  cursor: pointer;
}
.submenu{
  opacity:0;
  position: absolute;
  width: 200px;
  left: -200px;
  top: 100%;
  z-index: 3;
  border: 1px solid #5c9acf;
  background: white;
  transition: 0.3s linear;
}
.submenu:after{
  content: "x";
  top: -20px;
  right: 0;
  position: absolute;
  text-align: center;
  line-height: 17px;
  border: 1px solid #5c9acf;
  z-index: 5;
  width: 20px;
  height: 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.submenu li{
  padding: 5px 20px 5px 10px;
  border-bottom:1px dotted black;
  position: relative;
}
.submenu>ul>li>ul{
  position: absolute;
  left: 198px;
  z-index: 1;
  background: white;
  width: 180px;
  top: -1px;
  display: none;
  border: 1px solid #DDDDDD;
}
.submenu a{
  color: black;
}
.submenu>ul>li>ul>li:hover{
  background: #e74c3c;
  color: white !important;
}
.submenu>ul>li>ul>li:hover a{
  background: #e74c3c;
  color: white !important;
}
.submenu li:last-child{
  border-bottom:none;
}
.menu:hover .submenu{
  opacity: 1;
  height: auto;
  right: 0;
  overflow: visible;
  border: 1px solid #DDDDDD;
}

.submenu i{
  position: absolute;
  right: 5px;
  font-size: 10px;
  top: 12px;
  transition: 0.5s all;
  transform: rotate(90deg);
}
.submenu li:hover i{
  transform: rotate(0deg);
}
.submenu>ul>li:hover ul{
  display: block;
}
{
  transform: rotate(0deg);
}
.search-menu input{
  position: relative;
  margin-top: 10px;
  font-size: 14px;
  font-style: italic;
}
.search-menu button{
  position: absolute;
  top:12px;
  background: none;
  border: none;
  right: 25px;
}
/*.login-header a{
  padding: 5px 12px;
  border-radius: 5px;
  text-align: center;
  color: black;
  line-height: 60px;
  border:1px solid #bdc3c7;
  height: 600px !important;
}
.login-header a:hover{
  text-decoration:none;
  background: #e74c3c;
  color: white;
  border: 1px solid #c0392b;
}*/
.avatar-user-cirle{
  overflow: hidden;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}
.banner{
  height: 250px;
  color: white;
  background: #5c9acf;
}
.banner a{
  color:white;
}
.banner-img{
  height: 250px !important;
  padding: 15px 15px;
}
.banner button{
  background: #e74c3c;
  border: none;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
}
.banner .col-md-7{
  padding: 15px 15px;
}
.menu-course li>a{
  color:black;
}
.active{
  background: #e74c3c;
  border: none !important;
}
.active>a{
  color: white !important;
}
.content-course{
  background: #ecf0f1;
}
.detail-teacher img{
  width: 150px;
  border: 1px solid black;
  border-radius: 100%;
  height: 150px;
}
.content-course i{
  /*! width: 25px; */
}
.list-course-banner{
  height: 270px;
}
.avatar-user{
  height: 160px;
  width: 160px;
  /*! margin-top: 78px; */
  padding: 2px;
  box-sizing: border-box;
  border: 1px solid black;
  background: white;
  border-radius: 3px;
  z-index: 50;
}
.fa-user-circle{
  font-size: 150px;
}
.list-course-banner{
  background-image: url('/img/student/bg-01.jpg');
  background-repeat: no-repeat;
  background-size: 100% 86%;
}
.avatar-user{
  bottom: -20px;
  left: 15px;
}
.info-user{
  margin-left: 180px;
  margin-top: 170px;
}
.list-course-menu>ul{
  right: 0;
  bottom:0;
}
.height-center{
  position: relative;
  transform: translate(0,-50%);
  top: 50%;
}
.list-course-banner .container:first-child{
  height: 86%;
}
.list-course-banner .container:last-child >.col-md-12{
  margin-left: 13%;
}
.list-course-content-item{
  transition: 0.3s all;
}
.list-course-content-item:hover{
  box-shadow: 0 0 15px #898989;
}

/****************************************************************
 *
 * CSS Percentage Circle
 * Author: Andre Firchow
 *
*****************************************************************/
.list-course-banner li{
  position: relative;
}
.list-course-banner li:after{
  content:"";
  position: absolute;
  border: 1px solid green;
  width: 100%;
  transform: scale(0);
  transition: 0.3s linear;
  bottom: 0;
}
.list-course-banner li:hover:after{
  transform: scale(1);
}
.list-course-banner li.active{
  border-bottom: 2px solid green !important;
  background: white !important;
}
.list-course-banner li.active>a{
  color: black !important;
}
.list-course-banner li.active:after{
  transform: scale(0);
}
.course-detail i{
  width: 20px;
  text-align: center;
}
 #menu-mobile{
    display: none;
  }
@media only screen and (max-width: 991px) {
  .list-course-menu{
    display: none;
  }
  .avatar-user {
    bottom: -30px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .info-user{
    margin-left:0;
    text-align: center;
    position: absolute;
    bottom: -95px;
    color: black;
  }
  .list-course-content{
    padding-top: 15px;
  }
  .header .col-6:first-child{
    padding-left: 15px !important;
  }
  .login-header{
    display: none;
  }
  #menu-mobile{
    display: block;
  }
}
@media only screen and (max-width:1200px){
  .list-course-menu a{
    padding: 5px 12px !important;    
  }
  #result-search{
    width: 290px !important;
  }
}
@media only screen and (max-width:767px){
  .search-menu{
    display: none;
  }
  .menu-mobile{
    width: 60% !important;
  }
  .list-course-content{
    padding-top: 30px;
  }
}
.fa-facebook{
  font-size: 30px;
  color: #4267b2;
}
.fa-youtube-square{
  font-size: 30px;
  color:red;
}
.menu-mobile{
  position: absolute;
  right: -30%;
  width: 30%;
  top: 0;
  background: white;
  border:1px solid green;
  z-index: 4;
  transition: 0.3s all;
  height: 100%;
  overflow: auto;
}
.menu-mobile-search{
  padding: 10px;
  padding-bottom: 0;
}
.menu-mobile-search-btn{
  position: relative;
  transform: translate(0,-50%);
  top: 50%;
  background: none;
  right: 10px;
}
.menu-mobile li{
  list-style-type: none;
  padding: 10px 5px;
}
.menu-mobile li:hover{
  background: #e9ebee;
  cursor: pointer;
 
}
.menu-mobile a{
  font-size: 14px;
  color: black;
}
.menu-mobile li:hover a{
  color: black;
}
.menu-mobile i{
  width: 20px;
  text-align: center;
}
.bg-page:before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #333333;
  z-index: 2;
  opacity: 0.8;
}
@media only screen and (max-width: 992px) {
  #result-search{
    width: 210px !important;
  }
  .banner{
    position: relative;
  }
  .banner:before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#48c6ef,#9b59b6);
    opacity: 0.5;
    z-index: 1;
  }
  .banner-detail{
    width: 94%;
    position: absolute;
    padding: 15px 25px;
    z-index: 3;
  }
  .content-course h3{
    font-size: 20px;
  }
  .content-course p{
    font-size: 14px;
  }
}
@media only screen and (max-width:768px){
  .content-course .col-md-7{
    text-align: justify;
    font-size: 14px;
  }
  .content-course h3{
    font-size: 20px;
  }
  .content-course p{
    font-size: 14px;
  }
  .content-course-detail p{
      padding-left: 38%;
     padding-top: 15px;
  }
  .content-course-detail i{
    width: 15px;
  }
  .content-course-detail{
    width: 100%;
  }
}
@media only screen and (max-width:575px){
  .banner-detail{
    width: 100%;
  }
}
@media only screen and (max-width:473px){
  .banner h3{
    font-size: 20px;
  }
  .banner p{
    font-size: 14px;
  }
  .banner button{
    padding: 10px 10px;
  }
  .banner a{
    font-size: 14px;
  }
  .content-course .col-md-7{
    text-align: justify;
    font-size: 14px;
  }
  .content-course h3{
    font-size: 20px;
  }
  .content-course p{
    font-size: 14px;
  }
  .content-course-detail p{
      padding-left: 32%;
    padding-top: 15px;
  }
  .content-course-detail i{
    width: 15px;
  }
  .content-course-detail{
    width: 100%;
  }
  .menu-course{
    font-size: 14px;
  }
}
.loadingdep,.loadingmajo{
  right: -26px;
  top: 26px;
  display: none;
}
.avatar-old{
  width:150px !important;
  height:150px !important;
  position:relative;
  left:0;
  right:0;
  margin:auto;
}
.avatar-old:before{
  position:absolute;
  display:none;
  content:"";
  width:100%;
  height:100%;
  background-color:black;
  border-radius:100%;
  opacity:0.6;
}
.avatar-old:hover:before{
  display: block;
}
.avatar-old:hover .change-avatar{
  display: flex;
}
.change-avatar{
  width:150px;
  height:150px;
  position:absolute;
  top:0;
  border-radius:100%;
  display:none;
  flex-direction: column;
  justify-content: center;
}
.change-avatar label{
  position:absolute;
  left:0;
  right:0;
  color:white;
  cursor:pointer;
}
.change-avatar i{
  font-size: 30px;
}
#result-search{
  box-shadow: 0 1px 5px rgba(0,0,0,.2);
  position: absolute;
  z-index: 55;
  width: 350px;
  max-height: 325px;
  overflow: auto;
}
#result-search li{
  width: 100%;
  height: 50px;
  cursor: pointer;
}
#result-search a{
  text-decoration: none;
  color: black;
}
#result-search li:hover{
  background: #f4f4f4;
}
.lesson-content i{
  width: 15px;
}